html{
  scroll-snap-type: y mandatory;
}

.app{
  background-color: black;
  place-items: center;
  display: grid;
} 

.app__videos{
  position: relative;
  height: 93vh;
  background-color: white; 
  width: 100%;
  
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
} 

.app__videos::-webkit-scrollbar{
  display: none;
}